process {
    // Default resources for all processes
    cpus = 1
    memory = 4.GB
    time = '2.h'
    
    withName: 'MULTIQC' {

        cpus = 1
        memory = '16.GB'
        time = '1h'
         
        // Additional arguments 
        ext.args = ''
        ext.prefix = 'THIS_IS_A_TEST'
        
        // Publish directory configuration
        publishDir = [
            path: { "multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

