process {
    // Default resources for all processes
    cpus = 1
    memory = 4.GB
    time = '2.h'
    
    withName: 'FASTQC' {

        cpus = 8
        memory = '16.GB'
        time = '6h'
         
        // Additional arguments 
        ext.args = '-f fastq -q'
        
        // Publish directory configuration
        publishDir = [
            path: { "fastqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

