process {
    // Default resources for all processes
    cpus = 1
    memory = 4.GB
    time = '2.h'
    
    withName: 'MD5SUM' {
        cpus = 1
        memory = '4.GB'
        time = '2h'
        
        
        // Publish directory configuration
        publishDir = [
            path: { "md5sum" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
} 

